<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    {% extends 'Static.html' %}
    {% block content %}
    <!-- <center>
        {% if Name %}
        <h1 style="color: black; text-decoration: underline; cursor: pointer;" id="22">Welcome To About Us
            Page Dear
            {{Name}}
            !!!</h1>
        {% else %}
        <h1 style="color: black;">Welcome To About Us Page Dear User !!!</h1>
        {% endif %}
    </center>
    <script>
        document.getElementById("22").addEventListener("click", () => { alert("{{ Name }} Is That You ?") });
    </script> -->
    {% endblock %}
</body>

</html>