{% extends 'Templates/Temp.html'%}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Sign up</title>
</head>

<body>
    {% block content%}
    <!-- <div class="cotainer" style="margin: 45px;">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}

                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">Last Name</label>
                    <div class="col-md-6">
                        {{form.clt_name}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">First Name</label>
                    <div class="col-md-6">
                        {{form.clt_fn}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">Phone Number</label>
                    <div class="col-md-6">
                        {{form.clt_tel}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">City</label>
                    <div class="col-md-6">
                        {{form.clt_city}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right"> ZIP</label>
                    <div class="col-md-6">
                        {{form.clt_zip}}
                    </div>
                </div>



                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">Login</label>
                    <div class="col-md-6">
                        {{form.clt_login}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">Password</label>
                    <div class="col-md-6">
                        {{form.clt_mdp}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="confirmpass" id="confirm">
                    </div>
                </div>

                <div class="form-group row" id="place">
                    <label class="col-md-4 col-form-label text-md-right"></label>
                    <div class="col-md-6">
                        <H6 style="color: red;">{{err}}</H6>
                    </div>
                </div>

                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary" onclick="verifyPassword();">
                        Register
                    </button>
                    <p style="margin-left: 90px;margin-top: -28px;">You Already Have An Account ? <span><a href="signin"
                                style="text-decoration: none;">Sign In</a></span></p>
                </div>
        </div>
        </form>
    </div>
    </div> -->

    <div class="bg-image shadow-2-strong"
        style="background-image: url({% static '/Media/bgimg.jpg' %}) no-repeat fixed;">
        <div>
            <center>
                <div class="container">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <!-- <div class="container" style="width: 600px;margin: 5% 0% 5% 0%;">

                            <div class="form-floating mb-3">
                                {{form.clt_name}}
                                <label for="floatingInput">Last Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                {{form.clt_fn}}
                                <label for="floatingPassword">First Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                {{form.clt_tel}}
                                <label for="floatingPassword">Phone Number</label>
                            </div>

                            <div class="form-floating mb-3">
                                {{form.clt_city}}
                                <label for="floatingPassword">City</label>
                            </div>

                            <div class="form-floating mb-3">
                                {{form.clt_zip}}
                                <label for="floatingPassword">Zip</label>
                            </div>

                            <div class="form-floating mb-3">
                                {{form.clt_login}}
                                <label for="floatingPassword">Login</label>
                            </div>

                            <div class="form-floating mb-3">
                                {{form.clt_mdp}}
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="confirmpass" id="floatingPassword">
                                <label class="floatingPassword">Confirm Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
                                <p>You Already Have An Account ?<span><a href="signin" style="text-decoration: none;">
                                            Login</a></span></p>
                            </div>

                        </div> -->
                        <div class="form-floating mb-3">
                            <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
                            <p>You Already Have An Account ?<span><a href="signin" style="text-decoration: none;">
                                        Login</a></span></p>
                        </div>
                    </form>
                </div>
                {% for mes in messages %}
                <h5 style="color: red;margin-top: -8%;margin-bottom: 5%;">{{mes}}</h5>
                {% endfor %}
            </center>
        </div>
        {% endblock %}
</body>

</html>